subscription_id = "00000000-0000-0000-0000-000000000000"
location        = "Central India"
resource_group_name = "rg-order-platform-dev"
name_prefix     = "orderplatformdev"
node_count      = 1
node_vm_size    = "Standard_B2s"